<div id="<%= dom_id bike %>">
  <p>
    <strong>Name:</strong>
    <%= bike.name %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= bike.image %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= bike.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= bike.price %>
  </p>

</div>
